---
import '../styles/common.scss'
import type { PageParam } from '../types'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import app from '../scripts/app.ts?url'

// タイトル設定
const { pageParam } = Astro.props as { pageParam: PageParam }
const baseTitle = 'ボイラープレートの下層ページ'
let title = pageParam.id === 'top' ? '' : `${pageParam.title} | ` + baseTitle
if (pageParam.id === 'top') {
  title = pageParam.title
} else {
  title = `${pageParam.title} | ` + baseTitle
}
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <script type="module" src={app}></script>
  </head>
  <body>
    <Header pageParam={pageParam} />
    <slot />
    <Footer />
  </body>
</html>

<script type="module" src="/scripts/form-validator.ts"></script>

<style lang="scss">
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background: #f8f8f8;
    color: $base-color;
  }
</style>
